
  .single-work {
  position: relative !important;
  }
  
  .tags {
    position: absolute;
    top: 5px;
    left: 0;
  }
  .tags > span {
    display: inline-block;
    padding: 4px;
    margin-left: 3px;
    font-size: 14px;
    background: gray;
    min-width: 40px;
  }
  .styles_isotope-container__3X0JH{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }